img{
    max-width: 50%;
}
.section-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.8rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}

.input{

    padding: 1.6rem;
    height: 4.8rem;
    font-size: 2rem;
    outline: none;
    border: 2px solid #eef0ef;
    box-shadow: 3px 2px 2px #e1e2e1;
    border-radius: 9px;
}


label{
    font-size: 1.8rem;
    font-weight: 500;
}

.btn-submit{
    background: none;
    padding: 1.6rem 3.2rem;
    max-width: 100%;
    cursor: pointer;
    border: none;
    background-color: #1b4332;
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 11px;
    transition: all 0.5s;

}


.btn-submit:hover{
background-color: #40916c;
}


#autoComplete_list_1 {
    position: absolute;
    width: 20%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
    margin-top: 5px;
    font-size: 1.8rem;
}


#autoComplete_list_1 li {
    padding: 10px 15px;
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
}

/* Highlighted item */
#autoComplete_list_1 li[aria-selected="true"] {
    background-color: #1b4332;
    color: #fff;
}


/* #autoComplete_list_1 li:hover {

} */

#autoComplete_list_1 li mark {
    background-color: transparent;
    color: #1b4332;
    font-size: 1.8rem;
    font-weight: bold;
}


#autoComplete_list_1[hidden] {
    display: none;
}

