*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 62.25%;
}

body{
    font-family: 'Montserrat' , sans-serif;
    color: #081c15;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

.heading-primary{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sub-heading{
    font-size: 1.6rem;

}
.icon{

    font-size: 2.4rem;
}

.grid{

    display: grid;

}

.grid--2--cols{
    grid-template-columns: 15% 85%;
}

.grid--3--cols{
    grid-template-columns: repeat(3 , 1fr);
}

.gap-md{
    gap: 3.2rem;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.h-screen{
    height: 100vh;
}

.padding-sm{
    padding: 2.4rem;
}

.margin-left-4{
    margin-left: 4.4rem;
}
.align-v{
    align-items: center;
}

.text-dark{
    color: #081c15;
}

.margin-top-sm{
    margin-top: 1.8rem;
}
